@model MyImage.Models.SizeDetail

@{
    Layout = "_webLayout";
    ViewData["Title"] = "Home Page";
}
<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img src="~/images/download (1)" class="card-img-top" alt="...">
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">

                        <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                        </p>
                        <p class="h3 py-2">
                            @Html.DisplayFor(model => model.Size_Price)
                        </p>
                        <h6>Description:</h6>
                        <p>
                            @Html.DisplayFor(model => model.Size_Discription)

                        </p>
                        <h6>  Help: </h6>
                        <p>Upload Your Photo You Want To Print Above Wait For Loading Then Add To Cart.</p>
                        <h6>  File: </h6>

                        <button type="button" id="button-upload227" data-loading-text="Loading..." class=" btn btn-default btn-block"><i class="fa fa-upload"></i> Upload File</button>
                        <br>
                        <div id="drop-zone" class="drop-zone">
                            Drag and drop files and folders here
                        </div>
                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">

                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pb-3">

                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->
